body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

li {
    margin: 10px;
    list-style: none;
}
